.body {
  width: 300px;
  font-size: san-serif, arial;
  text-align: left;
}

.addingTask {
  width: 520px;
  background-color: salmon;
}

.assigningTask {
  width: 520px;
  background-color: salmon;
}
.between {
  height: 10px;
}
/*.working {
  background-color: salmon;
}*/
.finishedTask {
   align: center;
   background-color: blue;


}

/*.working .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: salmon;
}*/
/*
.working table, th, td {
      border-collapse: collapse;
      border: 1px solid green;
    }*/
